<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ramandeep Kaur">
    <link rel="icon" href="">
    <title>Users</title>
</head>
<body>
<h1>Welcome <%= user %></h1>
<p>City: <%= city %></p>
<p>Course: <%= course %></p>
</body>

</html>