<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="text-align:center;">
    <h1><%= title %></h1>
    <p><%= explanation %></p>
    <div>
        <% if(media_type == 'video') { %>
                    <iframe class="embed-responsive-item" src='<%= url %>' allowfullscreen></iframe>
            <% } else { %>
    <img src="<%= url %>" alt="Nasa image of the day" \>
    <% } %>
    </div>
</body>

</html> 